/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .h1 {
    color: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .h1 {
    color: blue;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .h1 {
    color: green;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .h1 {
    color: yellow;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
    position: relative;
    .sidebar {
      width: 150px;
      position: fixed;
    }

    .main {
      margin-left: 150px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 100%;
      .content {
      }

      .footer {
        height: 79px;
        margin-top: auto;
        border-top: solid 1px #dedede;
        padding-left: 129px;
        line-height: 79px;
      }
    }
  }
}
