@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    position: relative;
    .sidebar {
      width: 150px;
      position: fixed;
    }

    .main {
      margin-left: 150px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      width: 100%;
      .content {
        padding: 20px 129px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        .logo {
          img {
          }
        }

        &__above {
          height: 210px;
          background-color: #efefef;
          padding: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;

          &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;

            p {
              margin: 0;
            }
          }

          &__description {
            font-size: 16px;
            padding: 0 230px;
            text-align: center;
            text-indent: 2.5em;
            overflow: hidden;

            p {
              margin: 0;
            }
          }
        }

        &__below {
          &__list-items {
            display: flex;
            gap: 40px;

            &__item {
              &__title {
                font-size: 24px;
                font-weight: bold;
              }

              &__description {
                img {
                  float: left;
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }

      .footer {
        height: 79px;
        margin-top: auto;
        border-top: solid 1px #dedede;
        padding-left: 129px;
        line-height: 79px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
